---
import Card from "#/components/Card.astro"
import ContainedSection from "#/components/ContainedSection.astro"
import AnimationLayout from "#/layouts/AnimationLayout.astro"
import { getCollection } from "astro:content"

const publishedBlogPosts = (
  await getCollection(
    "blog",
    (post) => import.meta.env.PROD ? post.data.published && !post.data.hidden : true,
  )
).sort((left, right) => right.data.date.getTime() - left.data.date.getTime())
---

<AnimationLayout
  title="Blog"
  text="Stay updated on our progress."
>
  <ContainedSection
    grid
    className="grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      publishedBlogPosts.map((blogPost) => (
        <a
          class="pointer-cursor"
          href={`/blog/${blogPost.slug}`}
        >
          <Card
            hoverScale
            class="group size-full rounded-tl-[2rem] overflow-hidden"
          >
            <div>
              <img
                class="transition w-full h-full object-cover border-none"
                loading="eager"
                alt={blogPost.data.coverAlt}
                src={blogPost.data.cover}
              />
            </div>
            <div class="flex flex-col gap-2 p-4">
              <h2 class="font-supermolot uppercase font-bold text-xl">
                {blogPost.data.title}
              </h2>
              <p class="text-base text-neutral-200 font-mono">
                {blogPost.data.description}
              </p>
            </div>
          </Card>
        </a>
      ))
    }
  </ContainedSection>
</AnimationLayout>

<style is:inline>
*::selection {
  background-color: #a0ecfd;
  color: #000;
}
.card-rounded {
  border-top-left-radius: 0 50%;
  overflow: hidden;
}
</style>
